/.idea/shelf/Uncommitted_changes_before_Update_at_2_20_2023_4_11_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2_20_2023_4_11_PM_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2_20_2023_4_11_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2_20_2023_4_11_PM__Changes_1.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2_20_2023_4_11_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2_20_2023_4_11_PM_[Changes]1/shelved.patch
